* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #020617;
}

.navbar a {
    color: #cbd5f5;
    margin-left: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #38bdf8;
}

.logo {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid #38bdf8;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 36px;
    color: #38bdf8;
}

.hero h3 {
    margin: 10px 0;
    font-weight: normal;
}

.hero p {
    max-width: 600px;
    margin: auto;
    color: #cbd5f5;
}


.socials {
    margin-top: 20px;
}

.socials a {
    color: #cbd5f5;
    font-size: 22px;
    margin: 0 10px;
}

.socials a:hover {
    color: #38bdf8;
}


.section {
    padding: 60px 10%;
    text-align: center;
}

.section h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}


.skills .skill-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skills div {
    background: #020617;
    padding: 20px 30px;
    border-radius: 10px;
}

.skills i {
    font-size: 28px;
    color: #38bdf8;
    margin-bottom: 10px;
    display: block;
}


.contact p {
    margin: 10px 0;
}


footer {
    background: #020617;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #94a3b8;
}
footer p {
    margin: 0;
}
